// Medias querys
$breakpoints: ('xs': "(min-width: 0px) and (max-width: 767px)",
  'sm': "(min-width: 768px) and (max-width: 991px)",
  'md': "(min-width: 992px) and (max-width: 1199px)",
  'lg': "(min-width: 1200px) and (max-width: 1600px)",
  'xl': "(min-width: 1601px) and (max-width: 2048px)",
) !default;


@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('../fonts/AvenirNextLTPro-Demi.woff2') format('woff2'),
    url('../fonts/AvenirNextLTPro-Demi.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('../fonts/AvenirNextLTPro-Bold.woff2') format('woff2'),
    url('../fonts/AvenirNextLTPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('../fonts/AvenirNextLTPro-Regular.woff2') format('woff2'),
    url('../fonts/AvenirNextLTPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('../fonts/AvenirNextLTPro-BoldCn.woff2') format('woff2'),
    url('../fonts/AvenirNextLTPro-BoldCn.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('../fonts/AvenirNextLTPro-It.woff2') format('woff2'),
    url('../fonts/AvenirNextLTPro-It.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('../fonts/AvenirNextLTPro-DemiCn.woff2') format('woff2'),
    url('../fonts/AvenirNextLTPro-DemiCn.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


// Fonts
$Avenir: 'Avenir Next LT Pro',
sans-serif;



// General
$white: #fff;
$black: #000;
$contact: #161743;
$text: #0e0f3b;
$bcMision: #4a23de;
$bcVision:#692be6;
$orange: #DF8239;
$gradient: linear-gradient(45deg, #eb4a82 0%, #5225f8 100%);
$recutex: #ebe5e2;
$recutex2: #d9c8c0;
$green:#94b99e;


// Slick
$arrow-color: #f50000;
$arrow-size: 25px;
$dots-color: gray;
$dots-color-active: #00b050;
$dots-size: 12px;